body {
    background: #f0f2f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;   
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.container {    
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.logo-img {
    width: 400px;
    height: 100px;
    margin: -35px;
    margin-left: -78px;
          
}
.logo-text {
    width: 485px;
    height: 112px;
    margin-bottom: 80px;
    margin-right: 90px;
    font-size: 1.7rem;
    font-weight: 500;       
}
.login-form {
    width: 396px;
    height: 350px;
    background-color: white;   
    border-radius: 10px;
    margin-right: 50px; 
    box-shadow: 1px 1px 8px 1px;
    display: flex;    
    justify-content: center;   
}
.login-form .form input {
    display: flex;
    width: 340px;
    height: 25px;
    margin: 15px; 
    border-radius: 5px;
    border: 1px lightgrey solid;
    padding: 12px; 
    font-size: 1rem;    
}
.login-form .form .btn-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 364px;
    height: 48px;
    background-color: #0866ff;
    margin: 15px;
    border: none; 
    border-radius: 5px;    
    padding: 0 16px; 
    font-size: 1.5rem;
    font-weight: 600;
    color: white; 
    cursor: pointer;   
}
.login-form .form .btn-entrar:hover {
    background-color: #3578e5;
}
.login-form .form a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    color: #0866ff;
}
.login-form .form a:hover {
    text-decoration: underline;
}
.login-form .form .linha {
    unicode-bidi: isolate;
    width: 364px;
    height: 1px;
    margin: 20px 16px;
    background-color: lightgrey;
}
.login-form .form .btn-conta {
    display: flex;
    align-items: center;
    justify-content: center;             
    width: 167px;
    height: 48px;
    background-color: #00a400;
    margin: 0 auto;    
    border: none; 
    border-radius: 5px;    
    padding: 0 16px; 
    font-size: 17px;
    font-weight: 600;
    color: white; 
    cursor: pointer;   
}
.login-form .form .btn-conta:hover {
    background-color: #42b72a;
}